<hr style="border:2px solid blue">

# CIS 454 - Advanced Python for Data Science
## Spring, 2024.  Univeristy of Maine at Augusta

<hr style="border:2px solid blue">


## Assignment 3 - Machine Learning

In this assignment you will use Pandas to prepare a dataset for machine learning classificaiton.   You will then build a decision tree model, separating the data into training and validation sets, and calculate the accuracy of that model.

Some helpful Resources:

- [Pandas Website](https://pandas.pydata.org/)
- [Kaggle Hotel Booking Cancellation Dataset](https://www.kaggle.com/vinayakashastri/hotel-booking-cancellation-dataset?select=hotel_bookings.csv)

## Tasks

1. ~~Download and load `hotel_bookings.csv` from Kaggle~~ Unzip `hotel_bookings.zip` to obtain our Kaggle dataset
2. Use Pandas to explore and preprocess the data.   Idenitfy the columns which need preprocessing (conversion of categorial data to numeric vaules, fill empty values, drop columns which are not likely to help with classification)
3. Split the data into training and validation datsets
4. Train a Decision Tree classifier using the training data
5. Predict classifications for the validation data
6. Score the model's accuracy

While not required, extra credit will be available to those who work to tune their model to improve it's accuracy.

As you build out this notebook I expect you to create lots of cells -- small snippets of code followed or prefaced by comments in "markdown" cells which document your approach and observations.   A complete solution will be well structured and well documented.

## Rubric

The rubric for this assignment:

- 40 Methodical approach to preprocessing data is evident
- 30 Decision tree successfully trained and validated
- 20 Appoach is well structured
- 10 Notebook is well documented
- 10 Extra credit points for models which achieve validation accuracy above 85%

In [1]:
# Import our typical libraries

import numpy as np
import pandas as pd

## About the Data

`hotel_bookings.csv` contains 119390 records representing individual reservations at a collection of hotels.  Each record is classified to show if the reservation was cancelled or not.   Your challenge is to create a machine learning model which can accurately predict whether or not a reservation will be cancelled based on the available data.


## 1.  Dowload and load hotel_bookings.csv

I have provided a zip file with the dataset.   Unzip that file to the same folder as your notebook.

In [2]:

df = pd.read_csv('hotel_bookings.csv')   # The training data which has been classified

## 2. Use Pandas to explore and preprocess the data


### First, just take a look at the data

In [3]:
#looking at the data
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,7/3/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,9/7/2017

### Deal with duplicate classification label

One wrinkle in the data: there are two columns which represent whether or not a reservation was cancelled.   They are **`is_cancelled`** and **`reservation_status`** -- and if you feed one of them as an attribute then the model will easily achieve 100% accuracy.   So to properly create the model you must drop one and use the other as the classification label.  I recommend dropping **`reservation_status`** and using **`is_cancelled`** as your classification label.

In [4]:
#dropping reservation_status

df = df.drop(columns=['reservation_status'])
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,7/3/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,9/7/2017

In [5]:
#dropping adr column
df = df.drop(columns=['adr'])
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,3,No Deposit,NaN,NaN,0,Transient,0,0,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,4,No Deposit,NaN,NaN,0,Transient,0,0,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,C,0,No Deposit,NaN,NaN,0,Transient,0,0,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,0,No Deposit,304.0,NaN,0,Transient,0,0,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,0,No Deposit,240.0,NaN,0,Transient,0,1,7/3/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,A,0,No Deposit,394.0,NaN,0,Transient,0,0,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,E,0,No Deposit,9.0,NaN,0,Transient,0,2,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,D,0,No Deposit,9.0,NaN,0,Transient,0,4,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,A,0,No Deposit,89.0,NaN,0,Transient,0,0,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,A,0,No Deposit,9.0,NaN,0,Transient,0,2,9/7/2017

In [6]:
#dropping the company column
df = df.drop(columns=['company'])
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,C,3,No Deposit,NaN,0,Transient,0,0,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,C,4,No Deposit,NaN,0,Transient,0,0,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,A,C,0,No Deposit,NaN,0,Transient,0,0,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,A,0,No Deposit,304.0,0,Transient,0,0,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,No Deposit,240.0,0,Transient,0,1,7/3/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,A,A,0,No Deposit,394.0,0,Transient,0,0,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,E,E,0,No Deposit,9.0,0,Transient,0,2,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,D,D,0,No Deposit,9.0,0,Transient,0,4,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,A,A,0,No Deposit,89.0,0,Transient,0,0,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,A,A,0,No Deposit,9.0,0,Transient,0,2,9/7/2017

In [7]:
#dropping the distribution channel from my data
df.drop(['distribution_channel'],axis=1,inplace=True)

In [8]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,C,3,No Deposit,NaN,0,Transient,0,0,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,C,4,No Deposit,NaN,0,Transient,0,0,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,A,C,0,No Deposit,NaN,0,Transient,0,0,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,A,0,No Deposit,304.0,0,Transient,0,0,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,No Deposit,240.0,0,Transient,0,1,7/3/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,A,A,0,No Deposit,394.0,0,Transient,0,0,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,E,E,0,No Deposit,9.0,0,Transient,0,2,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,D,D,0,No Deposit,9.0,0,Transient,0,4,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,A,A,0,No Deposit,89.0,0,Transient,0,0,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,A,A,0,No Deposit,9.0,0,Transient,0,2,9/7/2017

In [9]:
#dropping country from my data
df.drop(['country'],axis=1,inplace=True)

In [10]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,C,3,No Deposit,NaN,0,Transient,0,0,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,C,4,No Deposit,NaN,0,Transient,0,0,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,A,C,0,No Deposit,NaN,0,Transient,0,0,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,A,0,No Deposit,304.0,0,Transient,0,0,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,No Deposit,240.0,0,Transient,0,1,7/3/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,A,A,0,No Deposit,394.0,0,Transient,0,0,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,E,E,0,No Deposit,9.0,0,Transient,0,2,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,D,D,0,No Deposit,9.0,0,Transient,0,4,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,A,A,0,No Deposit,89.0,0,Transient,0,0,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,A,A,0,No Deposit,9.0,0,Transient,0,2,9/7/2017

### Deal with null values

Identify the columns with null values.  It's your choice to drop or fill in the data -- part of the work of data science is deciding what data *feels* important for our model. In the case of this assignment, ask yourself "do I think that attribute can help determine if someone cancelled their reservation?"    Be careful though, aggressive pruning of the data might accidentally remove an attribute which actually was usefull.

In [11]:
#Displaying the null values
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         hotel  is_canceled  lead_time  arrival_date_year  arrival_date_month  \
0       False        False      False              False               False
1       False        False      False              False               False
2       False        False      False              False               False
3       False        False      False              False               False
4       False        False      False              False               False
...       ...          ...        ...                ...                 ...
119385  False        False      False              False               False
119386  False        False      False              False               False
119387  False        False      False              False               False
119388  False        False      False              False               False
119389  False        False      False              False               False

        arrival_date_week_number  arrival_date_day_of_month  \
0                          False                      False
1                          False                      False
2                          False                      False
3                          False                      False
4                          False                      False
...                          ...                        ...
119385                     False                      False
119386                     False                      False
119387                     False                      False
119388                     False                      False
119389                     False                      False

        stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
0                         False                 False   False  ...
1                         False                 False   False  ...
2                         False                 False   False  ...
3                         False                 False   False  ...
4                         False                 False   False  ...
...                         ...                   ...     ...  ...
119385                    False                 False   False  ...
119386                    False                 False   False  ...
119387                    False                 False   False  ...
119388                    False                 False   False  ...
119389                    False                 False   False  ...

        reserved_room_type  assigned_room_type  booking_changes  deposit_type  \
0                    False               False            False         False
1                    False               False            False         False
2                    False               False            False         False
3                    False               False            False         False
4                    False               False            False         False
...                    ...                 ...              ...           ...
119385               False               False            False         False
119386               False               False            False         False
119387               False               False            False         False
119388               False               False            False         False
119389               False               False            False         False

        agent  days_in_waiting_list  customer_type  \
0        True                 False          False
1        True                 False          False
2        True                 False          False
3       False                 False          False
4       False                 False          False
...       ...                   ...            ...
119385  False                 False          False
119386  False                 False          False
119387  False                 False          False
119388  False                 False          False
119389  False                 False          False

        required_car_parking_spaces  total_of_special_requests  \
0                             False                      False
1                             False                      False
2                             False                      False
3                             False                      False
4                             False                      False
...                             ...                        ...
119385                        False                      False
119386                        False                      False
119387                        False                      False
119388                        False                      False
119389                        False                      False

        reservation_status_date
0                         False
1                         False
2                         False
3                         False
4                         False
...                         ...
119385                    False
119386                    False
119387                    False
119388                    False
119389                    False

[119390 rows x 27 columns]>

In [12]:
#checking the values in agent column
df['agent'].value_counts()

agent
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
289.0        1
432.0        1
265.0        1
93.0         1
304.0        1
Name: count, Length: 333, dtype: int64

In [13]:
#filling the Nan in agent column and cross checking my code operation
df['agent'] = df['agent'].fillna('9.0')
df['agent'].value_counts()

agent
9.0      31961
9.0      16340
240.0    13922
1.0       7191
14.0      3640
         ...
280.0        1
285.0        1
289.0        1
265.0        1
497.0        1
Name: count, Length: 334, dtype: int64

In [14]:
#checking out the remaining null in my dataset
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
market_segment                    0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status_date           0
dtype: int64

In [15]:
#cross checking the null value in children
df['children'].value_counts()

children
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: count, dtype: int64

In [16]:
#filling the NAN in children column with the highest value 0.0
df['children'] = df['children'].fillna('0.0')
df['children'].value_counts()

children
0.0     110796
1.0       4861
2.0       3652
3.0         76
0.0          4
10.0         1
Name: count, dtype: int64

In [17]:
#looking out for the remaining null in the dataset
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
market_segment                    0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status_date           0
dtype: int64

In [18]:
#cross checking the dataset and ensuring i dont have any null values
df.isnull().any()

hotel                             False
is_canceled                       False
lead_time                         False
arrival_date_year                 False
arrival_date_month                False
arrival_date_week_number          False
arrival_date_day_of_month         False
stays_in_weekend_nights           False
stays_in_week_nights              False
adults                            False
children                          False
babies                            False
meal                              False
market_segment                    False
is_repeated_guest                 False
previous_cancellations            False
previous_bookings_not_canceled    False
reserved_room_type                False
assigned_room_type                False
booking_changes                   False
deposit_type                      False
agent                             False
days_in_waiting_list              False
customer_type                     False
required_car_parking_spaces       False
total_of_special_requests         False
reservation_status_date           False
dtype: bool

# Convert non-numeric (categorical) data to numeric values

Recall that our decision tree classifier only works with numeric data.    Identify and convert any categorical data.

In [19]:
#converting the categorical data to numbers
#checking out the assigned room type column to view the values
df['assigned_room_type'].value_counts()

assigned_room_type
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

In [20]:
#converting the assigned room type text to numbers
df['assigned_room_type']=df['assigned_room_type'].map({'A':1,'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'H':8, 'I':9, 'K':10, 'P':11, 'L':12})
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,A,1,0,No Deposit,394.0,0,Transient,0,0,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,E,5,0,No Deposit,9.0,0,Transient,0,2,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,D,4,0,No Deposit,9.0,0,Transient,0,4,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,A,1,0,No Deposit,89.0,0,Transient,0,0,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,A,1,0,No Deposit,9.0,0,Transient,0,2,9/7/2017

In [21]:
#convert arrival_date_month into numeric values
df['arrival_date_month']=df['arrival_date_month'].map({'January':1,'February':2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12})
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,C,3,3,No Deposit,9.0,0,Transient,0,0,7/1/2015
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,C,3,4,No Deposit,9.0,0,Transient,0,0,7/1/2015
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,A,3,0,No Deposit,9.0,0,Transient,0,0,7/2/2015
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,A,1,0,No Deposit,304.0,0,Transient,0,0,7/2/2015
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,A,1,0,No Deposit,240.0,0,Transient,0,1,7/3/2015

In [22]:
#cchecking the values in hotel
df['hotel'].value_counts()

hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64

In [23]:
#converting hotel column into numbers
df['hotel']=df['hotel'].map({'Resort Hotel':1,'City Hotel':2,})
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,1,0,342,2015,7,27,1,0,0,2,...,C,3,3,No Deposit,9.0,0,Transient,0,0,7/1/2015
1,1,0,737,2015,7,27,1,0,0,2,...,C,3,4,No Deposit,9.0,0,Transient,0,0,7/1/2015
2,1,0,7,2015,7,27,1,0,1,1,...,A,3,0,No Deposit,9.0,0,Transient,0,0,7/2/2015
3,1,0,13,2015,7,27,1,0,1,1,...,A,1,0,No Deposit,304.0,0,Transient,0,0,7/2/2015
4,1,0,14,2015,7,27,1,0,2,2,...,A,1,0,No Deposit,240.0,0,Transient,0,1,7/3/2015

In [24]:
#checking the cuctomer type column 
df['customer_type'].value_counts()

customer_type
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: count, dtype: int64

In [25]:
#converting customer type to numbers
df['customer_type']=df['customer_type'].map({'Transient':1,'Transient-Party':2, 'Contract':3, 'Group':4,})
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,1,0,342,2015,7,27,1,0,0,2,...,C,3,3,No Deposit,9.0,0,1,0,0,7/1/2015
1,1,0,737,2015,7,27,1,0,0,2,...,C,3,4,No Deposit,9.0,0,1,0,0,7/1/2015
2,1,0,7,2015,7,27,1,0,1,1,...,A,3,0,No Deposit,9.0,0,1,0,0,7/2/2015
3,1,0,13,2015,7,27,1,0,1,1,...,A,1,0,No Deposit,304.0,0,1,0,0,7/2/2015
4,1,0,14,2015,7,27,1,0,2,2,...,A,1,0,No Deposit,240.0,0,1,0,1,7/3/2015

In [26]:
#checking the value for deposit type
df['deposit_type'].value_counts()

deposit_type
No Deposit    104641
Non Refund     14587
Refundable       162
Name: count, dtype: int64

In [27]:
#converting deposit type to numbers
df['deposit_type']=df['deposit_type'].map({'No Deposit':1,'Non Refund':2, 'Refundable':3})
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
119385,2,0,23,2017,8,35,30,2,5,2,...,A,1,0,1,394.0,0,1,0,0,9/6/2017
119386,2,0,102,2017,8,35,31,2,5,3,...,E,5,0,1,9.0,0,1,0,2,9/7/2017
119387,2,0,34,2017,8,35,31,2,5,2,...,D,4,0,1,9.0,0,1,0,4,9/7/2017
119388,2,0,109,2017,8,35,31,2,5,2,...,A,1,0,1,89.0,0,1,0,0,9/7/2017
119389,2,0,205,2017,8,35,29,2,7,2,...,A,1,0,1,9.0,0,1,0,2,9/7/2017

In [28]:
#checking the values in meal column
df['meal'].value_counts()

meal
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: count, dtype: int64

In [29]:
#converting meal to numbers
df['meal']=df['meal'].map({'BB':1,'HB':2, 'SC':3, 'Undefined':4, 'FB':5})
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
119385,2,0,23,2017,8,35,30,2,5,2,...,A,1,0,1,394.0,0,1,0,0,9/6/2017
119386,2,0,102,2017,8,35,31,2,5,3,...,E,5,0,1,9.0,0,1,0,2,9/7/2017
119387,2,0,34,2017,8,35,31,2,5,2,...,D,4,0,1,9.0,0,1,0,4,9/7/2017
119388,2,0,109,2017,8,35,31,2,5,2,...,A,1,0,1,89.0,0,1,0,0,9/7/2017
119389,2,0,205,2017,8,35,29,2,7,2,...,A,1,0,1,9.0,0,1,0,2,9/7/2017

In [30]:
#checking the values in market segment
df['market_segment'].value_counts()

market_segment
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: count, dtype: int64

In [31]:
#converting market segment to numbers
df['market_segment']=df['market_segment'].map({'Online TA':1,'Offline TA/TO':2, 'Groups':3, 'Direct':4, 'Corporate':5, 'Complementary':6, 'Aviation':7, 'Aviation':8, 'Undefined':9})
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,1,0,342,2015,7,27,1,0,0,2,...,C,3,3,1,9.0,0,1,0,0,7/1/2015
1,1,0,737,2015,7,27,1,0,0,2,...,C,3,4,1,9.0,0,1,0,0,7/1/2015
2,1,0,7,2015,7,27,1,0,1,1,...,A,3,0,1,9.0,0,1,0,0,7/2/2015
3,1,0,13,2015,7,27,1,0,1,1,...,A,1,0,1,304.0,0,1,0,0,7/2/2015
4,1,0,14,2015,7,27,1,0,2,2,...,A,1,0,1,240.0,0,1,0,1,7/3/2015

In [32]:
#checking the values in reserved room type
df['reserved_room_type'].value_counts()

reserved_room_type
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: count, dtype: int64

In [33]:
#converting reserved room type to numbers
df['reserved_room_type']=df['reserved_room_type'].map({'A':1,'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'H':8, 'L':9, 'P':10,})
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,reservation_status_date
119385,2,0,23,2017,8,35,30,2,5,2,...,1,1,0,1,394.0,0,1,0,0,9/6/2017
119386,2,0,102,2017,8,35,31,2,5,3,...,5,5,0,1,9.0,0,1,0,2,9/7/2017
119387,2,0,34,2017,8,35,31,2,5,2,...,4,4,0,1,9.0,0,1,0,4,9/7/2017
119388,2,0,109,2017,8,35,31,2,5,2,...,1,1,0,1,89.0,0,1,0,0,9/7/2017
119389,2,0,205,2017,8,35,29,2,7,2,...,1,1,0,1,9.0,0,1,0,2,9/7/2017

In [34]:
#checking the values for canceled reservation 
df['is_repeated_guest'].value_counts()

is_repeated_guest
0    115580
1      3810
Name: count, dtype: int64

In [35]:
#calculating and counting the mean, sum of is canceled column
df[['hotel', 'is_repeated_guest']].groupby(['hotel'], as_index=False).agg(['mean', 'count', 'sum'])

      is_repeated_guest
                   mean  count   sum
hotel
1              0.044383  40060  1778
2              0.025615  79330  2032

In [36]:
#hotel 1 has the highest probability of having a repeated guest more than hotel 2.

In [37]:
#Calculating the influence of the meal on the guest returning
df[['meal', 'is_repeated_guest']].groupby(['meal'], as_index=False).agg(['mean', 'count', 'sum'])

     is_repeated_guest
                  mean  count   sum
meal
1             0.037623  92310  3473
2             0.012860  14463   186
3             0.010329  10650   110
4             0.027374   1169    32
5             0.011278    798     9

In [38]:
#37% of the guest come back because of meal 1 while meal 3 is 10%, It is safe to say that the management need to look into ensuring that their meal is widely accceptable by the guests

In [39]:
df.dtypes

hotel                              int64
is_canceled                        int64
lead_time                          int64
arrival_date_year                  int64
arrival_date_month                 int64
arrival_date_week_number           int64
arrival_date_day_of_month          int64
stays_in_weekend_nights            int64
stays_in_week_nights               int64
adults                             int64
children                          object
babies                             int64
meal                               int64
market_segment                     int64
is_repeated_guest                  int64
previous_cancellations             int64
previous_bookings_not_canceled     int64
reserved_room_type                 int64
assigned_room_type                 int64
booking_changes                    int64
deposit_type                       int64
agent                             object
days_in_waiting_list               int64
customer_type                      int64
required_car_parking_spaces        int64
total_of_special_requests          int64
reservation_status_date           object
dtype: object

In [40]:
df =df.select_dtypes(include=['int64'])

## 3. Split the data into training and validation datsets

At this point your data should be preprocessed.   Now we do the work of machine learning.  First step, split our data into training and validation datasets.

In [41]:
#Spliting and training the dataset
from sklearn.model_selection import train_test_split

In [42]:
X = df.drop('is_repeated_guest', axis=1)

In [43]:
y = df['is_repeated_guest']

In [44]:
X_train, X_validate, y_train, y_validate = train_test_split(X, y,test_size=0.2,random_state=12345678)

In [45]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95512 entries, 74448 to 67251
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           95512 non-null  int64
 1   is_canceled                     95512 non-null  int64
 2   lead_time                       95512 non-null  int64
 3   arrival_date_year               95512 non-null  int64
 4   arrival_date_month              95512 non-null  int64
 5   arrival_date_week_number        95512 non-null  int64
 6   arrival_date_day_of_month       95512 non-null  int64
 7   stays_in_weekend_nights         95512 non-null  int64
 8   stays_in_week_nights            95512 non-null  int64
 9   adults                          95512 non-null  int64
 10  babies                          95512 non-null  int64
 11  meal                            95512 non-null  int64
 12  market_segment                  95512 non-null  int64
 13  previous_cancellations          95512 non-null  int64
 14  previous_bookings_not_canceled  95512 non-null  int64
 15  reserved_room_type              95512 non-null  int64
 16  assigned_room_type              95512 non-null  int64
 17  booking_changes                 95512 non-null  int64
 18  deposit_type                    95512 non-null  int64
 19  days_in_waiting_list            95512 non-null  int64
 20  customer_type                   95512 non-null  int64
 21  required_car_parking_spaces     95512 non-null  int64
 22  total_of_special_requests       95512 non-null  int64
dtypes: int64(23)
memory usage: 17.5 MB

In [46]:
X_validate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23878 entries, 56586 to 49412
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           23878 non-null  int64
 1   is_canceled                     23878 non-null  int64
 2   lead_time                       23878 non-null  int64
 3   arrival_date_year               23878 non-null  int64
 4   arrival_date_month              23878 non-null  int64
 5   arrival_date_week_number        23878 non-null  int64
 6   arrival_date_day_of_month       23878 non-null  int64
 7   stays_in_weekend_nights         23878 non-null  int64
 8   stays_in_week_nights            23878 non-null  int64
 9   adults                          23878 non-null  int64
 10  babies                          23878 non-null  int64
 11  meal                            23878 non-null  int64
 12  market_segment                  23878 non-null  int64
 13  previous_cancellations          23878 non-null  int64
 14  previous_bookings_not_canceled  23878 non-null  int64
 15  reserved_room_type              23878 non-null  int64
 16  assigned_room_type              23878 non-null  int64
 17  booking_changes                 23878 non-null  int64
 18  deposit_type                    23878 non-null  int64
 19  days_in_waiting_list            23878 non-null  int64
 20  customer_type                   23878 non-null  int64
 21  required_car_parking_spaces     23878 non-null  int64
 22  total_of_special_requests       23878 non-null  int64
dtypes: int64(23)
memory usage: 4.4 MB

In [47]:
y_train.value_counts()

is_repeated_guest
0    92426
1     3086
Name: count, dtype: int64

In [48]:
y_validate.value_counts()

is_repeated_guest
0    23154
1      724
Name: count, dtype: int64

## 4. Train a Decision Tree classifier using the training data

Now we create our decision tree model using the training data.

In [49]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=12345678)
clf = clf.fit(X_train, y_train)

## 5. Predict classifications for the validation data

We use our model to predict the values for the validation data

In [50]:
y_predict = clf.predict(X_validate)

In [51]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

## 6. Score the model's accuracy

And we look at the models' accuracy against both the training and validation datasets.

In [52]:
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report

print(f'Overall accuracy against training data is {clf.score(X_train, y_train):5.2%}')
print(f'Overall accuracy against validation data is {clf.score(X_validate, y_validate):5.2%}')
print(classification_report(y_validate,y_predict))

Overall accuracy against training data is 99.98%
Overall accuracy against validation data is 98.72%
              precision    recall  f1-score   support

           0       0.99      0.99      0.99     23154
           1       0.78      0.80      0.79       724

    accuracy                           0.99     23878
   macro avg       0.89      0.90      0.89     23878
weighted avg       0.99      0.99      0.99     23878

In [53]:
#we have a good model for the decision tree. The validity is 98% while the trained data is 99.9%

Now, if this was a real world effort, we would have a model we could use against future bookings to decide how likely they are to cancel.   Can you imagine good uses for that type of information?  Maybe a marketing email offering on-site perks to retain their business.   Maybe charging a non-refundable deposit to protect against lost revenue.  The possibilites are endless.


## 7. Extra Credit

For those of you with an interest in machine learning, here's a chance to explore ways to tune a decisiontree model for improved performance.   You can use various strategies - limit the depth of the tree, require a minimum number of samples for a split.  You can even create a *Random Forest* - a collection of small decision trees which work together to classify data.

If you can crate a classifier with accuaracy above 85% you have done well -- and will be awarded 10 extra credit points for your effort.